server.host: 0.0.0.0
server.name: kibana-esmonit
elasticsearch.url: "http://localhost:9200"
logging.dest: /var/log/kibana/kibana.log

elasticsearch.username: elastic
elasticsearch.password: "top-secret"

xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch.url: "http://esmonit01"
xpack.monitoring.elasticsearch.username: "elastic"
xpack.monitoring.elasticsearch.password: "top-secret"

server.ssl.enabled: true
server.ssl.key: /etc/kibana/certs/server.key
server.ssl.certificate: /etc/kibana/certs/server.pem

xpack.reporting.encryptionKey: u6yv4eujyythigudymbgkjyhtrv